/* mobile -> max-width: 767px */


/* navbar */
nav {
    padding: 1.3rem 2rem;
}

.nav-item {
    display: none;
}

.mobile-menu-icon {
    display: block;
}

.mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
}

.mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
}

.open {
    display: block;
}


/* main */

/* cadastro */



.titulo {
    padding-top: 30px;
    font-family: "Konkhmer Sleokchher", sans-serif;
    text-align: center;
}

/* .descricao {
    font-family: "Jost", sans-serif;
    text-align: center;
    font-size: 1.4rem;
} */


.box {
    width: 337px;
}

fieldset {
    padding: 1.8rem;
}

.inputUser {
    font-size: 3px;
}

.inputBox {
    font-size: 20px;
}

.btn {
    padding: .7rem 1.3rem;
    font-size: 17px;
}


/* contato */

.entrada-flex {
    display: flex;
    align-items: center;
    /* row-gap: 3rem; */
    column-gap: 3rem;
}

.links-entrada {
    font-size: 1.2rem;
    gap: 1rem;
}

.links-entrada a {
    font-size: 18px;
    gap: 1rem;
    color: #282D52;
}

/* faq */

#container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 300px;

}






/* integrantes */

.container-perfis {
    display: flex;
    padding: 0 2rem;
    flex-direction: column;
    gap: 4rem;
    margin-top: 1.5rem;
    font-size: 18px;
}

.foto {
    width: 180px;
    height: 240px;
}

.perfil {
    display: flex;
}

.info {
    font-family: "Jost", sans-serif;
    margin: auto 12px;
}





/* footer */

footer {
    display: flex;
    flex-direction: column;
}

.footer-links a{
    margin: 0 auto;
    width: 100%;
}

.icone-info {
    margin-top: 30px;
}

.footer-right {
    margin: 0 0;
}