/* mobile -> max-width: 767px */


/* navbar */
nav {
    padding: 1.3rem 2rem;
}

.nav-item {
    display: none;
}

.mobile-menu {
    display: none;
    background-color: #417571;
    width: 100%;
    position: absolute;
    top: 100px;
    z-index: 9999;
}

.mobile-menu-icon {
    display: block;
}

.mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
}

.mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
}

.open {
    display: block;
}


/* main */

/* cadastro */


.titulo {
    padding-top: 30px;
    font-family: "Konkhmer Sleokchher", sans-serif;
    text-align: center;
}

.box {
    width: 337px;
}

fieldset {
    padding: 1.8rem;
}

.inputUser {
    font-size: 3px;
}

.inputBox {
    font-size: 20px;
}

.btn {
    padding: .7rem 1.3rem;
    font-size: 17px;
}


/* contato */

.entrada-flex {
    display: flex;
    align-items: center;
    /* row-gap: 3rem; */
    column-gap: 3rem;
}

.links-entrada {
    font-size: 1.2rem;
    gap: 1rem;
}

.links-entrada a {
    font-size: 18px;
    gap: 1rem;
    color: #282D52;
}

/* faq */

#container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 315px;

}






/* integrantes */

.container-perfis {
    display: flex;
    padding: 0 2rem;
    padding-bottom: 3rem;
    flex-direction: column;
    gap: 4rem;
    margin-top: 1.5rem;
    font-size: 18px;
}

.foto {
    width: 180px;
    height: 240px;
}


.info {
    font-family: "Jost", sans-serif;
    margin: auto 12px;
}




/* tela inicial */


.bloco-ajuda {
    width: 90%;
    margin: auto;
}


/* footer */

.footer-container {
    flex-direction: column;
}