/* mobile -> max-width: 767px */


/* navbar */
nav {
    padding: 1.5rem 2rem;
}

.nav-item {
    display: none;
}

.mobile-menu-icon {
    display: block;
}

.mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
}

.mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
}

.open {
    display: block;
}


/* main */

/* integrantes  */


/* integrantes */

.container-perfis {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0 4rem 0;
}

.foto {
    height: 200px;
    width: 170px;
    border: 1px solid #000;
    border-radius: 4px;
    margin-bottom: 10px;
}





/* footer */
footer {
    padding: 60px 0;
}

.footer-items {
    flex-direction: column;
    align-items: center;
}

.footer-item {
    padding-bottom: 40px;
}

.footer-item:last-child {
    padding-bottom: 0;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-menu-item {
    padding-top: 20px;
}

.footer-menu-link {
    font-size: 35px;
}